- if @user.errors.any?
	%ul
	= @user.errors.full_messages.each do |msg|
		%li= msg
= form_for @user, :url => signup_path, :validate => true do |f|
	= f.text_field :login, placeholder: t('username')
	= f.text_field :email, placeholder: t('email')
	= f.password_field :password, placeholder: t('password')
	= f.password_field :password_confirmation, placeholder: t('password_confirmation')
	= f.submit t('signup'), disable_with: t('form_disable_with')