%header
  %ul
    %li= link_to 'Home', root_url
    - if current_user
      %li= link_to 'New', new_post_path
      %li= link_to 'Logout', logout_path
    - else
      %li= link_to 'Signup', signup_path
      %li= link_to 'Login', login_path